# This is needed to workaround that vsce detects it correctly to be a yarn package
# as `packageManager` param is ignored in vsce.listFiles
# https://github.com/gitpod-io/openvscode-server/blob/b3ac220579080277c144d167f23c203bec9e36e1/build/lib/extensions.ts#L188