name: Gitpod-Web Docker
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # pin@v4
      - name: Auth Google Cloud SDK
        uses: google-github-actions/auth@c200f3691d83b41bf9bbd8638997a462592937ed # pin@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@e427ad8a34f8676edf47cf7d7925499adf3eb74f # pin@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
      - name: Set up Docker
        run: |
          gcloud auth configure-docker --quiet
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # pin@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'

      - name: Execute yarn
        run: |
          yarn --frozen-lockfile --ignore-scripts

      - name: Update Segment
        working-directory: ./gitpod-web
        run: |
          set -e
          setSegmentKey="setpath([\"segmentKey\"]; \"untrusted-dummy-key\")"
          jqCommands="${setSegmentKey}"
          cat package.json | jq "${jqCommands}" > package.json.tmp
          mv package.json.tmp package.json

      - name: Build
        run: |
          yarn build:gitpod-web
          yarn --cwd gitpod-web/ inject-commit-hash

      - name: Docker build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # pin@v6
        with:
          push: true
          context: gitpod-web
          tags: eu.gcr.io/gitpod-core-dev/build/ide/gitpod-code-web:commit-${{ github.sha }}

      - name: Output the image tag to the GitHub Summary
        run: |
          echo "Successfully built the \`gitpod-web\` extension with the tag:" >> summary.md
          echo "" >> summary.md
          echo "\`\`\`" >> summary.md
          echo "commit-${{ github.sha }}" >> summary.md
          echo "\`\`\`" >> summary.md
          cat summary.md >> $GITHUB_STEP_SUMMARY

      - name: Get previous job's status
        id: lastrun
        uses: filiptronicek/get-last-job-status@1c211ff20d1706ff0bc3fc8022f7bd6518b88bc4 # pin@main

      - name: Slack Notification
        if: ${{ (success() && steps.lastrun.outputs.status == 'failed') || failure() }}
        uses: rtCamp/action-slack-notify@cdf0a2130cbcdfd82ba5fcac8e076370bf381b36 # pin@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.IDE_SLACK_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
